@font-face {
    font-family: "AllerBd";
    src: url("../fonts/Aller_Bd.ttf");
}

@font-face {
    font-family: "AllerRg";
    src: url("../fonts/Aller_Rg.ttf");
}

body {
    padding: 0;
    margin: 0;
    background: #161110;
    font-family: "AllerRg";
}

/* utils */
.center {
    margin: 0 auto;
}
.txtcenter {
    text-align: center;
}

a {
    text-decoration: underline;
    color: #FFAC09;
    font-weight: bold;
    transition: 0.3s;
}
a:hover {
    color: #fff;
    font-size: 1.2em;
    transition: 0.3s;
}

.jaune {
    color: #FFAC09;
}
.blanc {
    color: #fff;
}

.width_100 {
    width: 100%;
}

.margin_top_100 {
    margin-top: 100px;
}

.alertError {
    padding: 10px 0 10px 0;
    color: #fff;
    font-weight: 500;
    border: 2px solid #d63031;
    border-left: 5px solid #d63031;
    margin-bottom: 20px;
}
.alertSuccess {
    padding: 10px 0 10px 0;
    color: #fff;
    font-weight: 500;
    border: 2px solid #00b894;
    border-left: 5px solid #00b894;
    margin-bottom: 20px;
}

.btnClickable {
    text-decoration: none;
    padding: 7px 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    color: #161110;
    background: #FFAC09;
    border: 2px solid #FFAC09;
    transition: 0.3s;
    font-size: 1.2em;
}
.btnClickable:hover {
    background: transparent;
    color: #fff;
    transition: 0.3s;
    font-size: 1.2em;
}
/* utils */

/* menu */
#menu {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
#menu a {
    color: #FFAC09;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px 0 20px;
    padding: 10px;
    border: 2px solid transparent;
    transition: 0.3s;
}
#menu a:hover {
    padding: 10px;
    border: 2px solid #FFAC09;
    transition: 0.3s;
}
/* menu */

/* logo */
.logo {
    margin-top: 50px;
    margin-bottom: 70px;
}
/* logo */

/* titre */
.title {
    color: #FFAC09;
    font-family: "AllerRg";
    font-weight: bold;
    padding: 10px;
    border: 2px solid #FFAC09;
    font-size: 1.2em;
}
/* titre */

/* working */
.workingFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.workingFlex div {
    width: 20%;
    padding: 0 10px 0 10px;
    font-family: "AllerRg";
    color: #fff;
    text-align: center;
}
.workingFlex div img {
    width: auto;
    height: 50px;
}
.workingFlex div .titleWorking {
    color: #FFAC09;
    font-family: "AllerRg";
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    display: block;
    margin-top: 10px;
}
.workingFlex div .separator {
    width: 10%;
    height: 2px;
    background: #FFAC09;
    margin: 10px auto 10px auto;
}
/* working */

/* about */
.logoAbout {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.logoAbout .imgLogo {
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.logoAbout .descAbout {
    width: 60%;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    margin-bottom: 100px;
}
/* about */

/* section derniers projets */
.sectionLastProjects {
    width: 100%;
    padding-top: 100px;
}
.sectionLastProjects .galerie {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.sectionLastProjects .galerie .projet {
    width: 400px;
    height: 300px;
    margin: 0 30px 30px 30px;
}
.sectionLastProjects .galerie .projet .illustration {
    width: 100%;
    height: 100%;
}
.sectionLastProjects .galerie .projet .descriptionProjet {
    display: none;
    width: 400px;
    height: 300px;
    background: #FFAC09;
    color: #161110;
    line-height: 300px;
}
.sectionLastProjects .galerie .projet .descriptionProjet a {
    text-decoration: underline;
    font-weight: bold;
    color: #161110;
    font-size: 2em;
    transition: 0.3s;
}
.sectionLastProjects .galerie .projet .descriptionProjet a:hover {
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    transition: 0.3s;
}
.sectionLastProjects .galerie .projet:hover .descriptionProjet  {
    display: block;
}
.sectionLastProjects .galerie .projet:hover img {
    display: none;
}
/* section derniers projets */

/* section contact */
.sectionContact {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 100px;
}
.sectionContact .mailPhone {
    width: 20%;
    margin: 0 auto;
}
.sectionContact .mailPhone div {
    display: flex;
    justify-content: space-between;
}
.sectionContact .mailPhone div div {
    margin-top: 20px;
}
.sectionContact .mailPhone div .picto {
    width: 30%;
    display: flex;
    justify-content: center;
}
.sectionContact .mailPhone div .info {
    width: 70%;
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.sectionContact .formContact {
    margin-top: 50px;
    width: 30%;
    margin: 0 auto;
}
.sectionContact .formContact .inputHype {
    width: 100%;
    background: transparent;
    border: 2px solid #FFAC09;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
    font-family: "AllerRg";
}
.sectionContact .formContact .inputHype:focus {
    outline: none;
    border: 2px solid #fff;
    transition: 0.3s;
}
.sectionContact .formContact .textareaHype {
    width: 100%;
    background: transparent;
    border: 2px solid #FFAC09;
    padding: 10px;
    color: #fff;
    resize: none;
    transition: 0.3s;
    font-family: "AllerRg";
}
.sectionContact .formContact .textareaHype:focus {
    outline: none;
    border: 2px solid #fff;
    transition: 0.3s;
}
.sectionContact .formContact .btnSend {
    width: 100%;
    border: 2px solid #FFAC09;
    background: transparent;
    padding: 10px;
    transition: 0.3s;
    color: #fff;
    font-weight: bold;
    font-family: "AllerRg";
    letter-spacing: 5px;
    text-transform: uppercase;
}
.sectionContact .formContact .btnSend:hover {
    transition: 0.3s;
    cursor: pointer;
    background: #FFAC09;
    color: #161110;
}
/* section contact */

/* section portfolio */
.projets {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.projets .projet {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.projets .projet .nom {
    color: #FFAC09;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 20px;
}
.projets .projet .illustration {
    width: 80%;
    height: auto;
    border: 30px solid rgb(214, 214, 214);
    box-shadow: 0 0 15px #000000;
    border-radius: 4px;
}
.projets .projet .details_projet {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.projets .projet .details_projet div {
    padding: 0 20px;
}
.projets .projet .details_projet .description {
    width: 50%;
    text-align: left;
}
.projets .projet .details_projet .description span {
    color: #FFAC09;
    font-weight: 500;
}
.projets .projet .details_projet .description p {
    color: #fff;
}
.projets .projet .details_projet .details {
    width: 25%;
    text-align: left;
}
.projets .projet .details_projet .details span {
    color: #FFAC09;
    font-weight: 500;
}
.projets .projet .details_projet .details .square {
    background: #FFAC09;
    width: 7px;
    height: 7px;
    display: block;
    display: inline-block;
}
.projets .projet .details_projet .details p {
    color: #fff;
}
.projets .projet .details_projet .categorie {
    width: 25%;
    text-align: left;
}
.projets .projet .details_projet .categorie span {
    color: #FFAC09;
    font-weight: 500;
}
.projets .projet .details_projet .categorie .square {
    background: #FFAC09;
    width: 7px;
    height: 7px;
    display: block;
    display: inline-block;
}
.projets .projet .details_projet .categorie p {
    color: #fff;
}

.allImgProjet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.allImgProjet .illu {
    width: 500px;
    height: 400px;
    margin: 0 50px 50px 50px;
}
.allImgProjet .illu img {
    width: 100%;
    height: 100%;
}
/* section portfolio */

/* footer */
.network {
    margin: 0 auto;
    margin-top: 100px;
    width: 30%;
    padding: 20px;
    border-top: 0;
    border-bottom: 0;
    border-left: 2px;
    border-right: 2px;
    border-style: solid;
    border-color: #FFAC09;
    text-align: center;
}

.network span {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
}

.network .network_list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.network .network_list a {
    margin: 0 10px 0 10px;
    text-decoration: none;
}
.network .network_list a:hover {
    font-size: 1em;
}

.network .network_list .contactLink {
    text-transform: uppercase;
    background: #FFAC09;
    color: #161110;
    padding: 5px 10px;
}
.network .network_list .contactLink:hover {
    background: #fff;
    color: #161110;
    transition: 0.3s;
}

.info_compagny {
    color: #fff;
    font-size: 0.8em;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.copy {
    margin: 0 auto;
    margin-top: 30px;
    width: 30%;
    text-align: center;
    color: #fff;
    font-size: 0.6em;
    margin-bottom: 50px;
}
/* footer */

/* scroll */
#scrollTop {
    position: absolute;
    position: fixed;
    right: 0;
    bottom: 100px;
    background: #FFAC09;
    padding: 15px;
}
#scrollTop:hover {
    cursor: pointer;
}
#scrollTop .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #161110;
}
/* scroll */